@keyframes load {
  0% {
    left: 0;
    width: 0px;
  }
  50% {
    left: 150px;
    width: 150px;
  }
  100% {
    left: 300px;
    width: 0px;
  }
}

.loader {
  width: 300px;
  min-height: 8px;
  position: fixed;
  top: 50vh;
  left: calc(50% - 150px);
}

.loader::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 300px;
  min-height: 8px;
  background-color: rgba(11,11,11,.5);
}

.loader::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 30px;
  min-height: 8px;
  background-color: #77002e;
  animation: load 1.5s linear infinite;
}